@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');



body
{
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
    font-family: 'Roboto Condensed', sans-serif;
}

a li

{
    border: solid;
    width: 10%;
    border-bottom: 3px solid;
    margin-left: 1125px;
    align-items: center;
    text-align: center;
    list-style: none;
    font-size: 20px;
    color: black;
}

.trait

{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 66px;
    border: 1px solid;
    color: black;
}

p

{
    margin-top: 66px;
    font-size: 20px;
}

a

{
    color: red;
}

img

{
    width: 710px;
    height: 600px;
    display: block;
    margin-left: 950px;
    box-shadow: 5px 5px 5px black;
    margin-top: 155px;
}


nav a:hover
{
    color: gray;
    background-color: blanchedalmond;
}

li

{
    margin-top: 10px;
}

.last

{
    margin-bottom: 111px;
}


footer

{
    background-color: bisque;
}

input

{
    display: block;
    margin-left: 1105px;
    border-radius: 8px;
    width: 200px;
    height: 50px;
    font-size: 1.2em;
}

.text

{
    height: 200px;
    width: 300px;
    border-radius: 8px;
}

button

{
    font-size: 18px;
    margin-bottom: 20px;
}

button:hover
{
    background-color: red;
    color: aquamarine;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
